name: Build and Publish

on:
  push:
    branches:
      - master
      - test/*
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:
    if: github.repository_owner == 'itzg'
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        variant: [latest, java17, java8, java11]
        include:
          - variant: latest
            baseImage: eclipse-temurin:17
            tagPrefix: ""
          - variant: java17
            baseImage: eclipse-temurin:17
            tagPrefix: java17-
          - variant: java8
            baseImage: adoptopenjdk:8-jre-hotspot
            tagPrefix: java8-
          - variant: java11
            baseImage: adoptopenjdk:11-jre-hotspot
            tagPrefix: java11-

    steps:
    - uses: actions/checkout@v3

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v3
      with:
        images: |
          itzg/bungeecord
        tags: |
          type=ref,event=branch,prefix=${{ matrix.tagPrefix }}
          type=ref,event=tag,prefix=${{ matrix.tagPrefix }}
          type=raw,value=${{ matrix.variant }}
        flavor: |
          latest=false

    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Login to DockerHub
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        platforms: linux/amd64,linux/arm/v7,linux/arm64
        # ensure latest base image is used
        pull: true
        push: true
        build-args: |
          BASE_IMAGE=${{ matrix.baseImage }}
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=gha,scope=${{ matrix.variant }}
        cache-to: type=gha,mode=max,scope=${{ matrix.variant }}
