name: Test Build

on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - "*.md"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        variant:
          - java21
        include:
          - variant: java21
            baseImage: eclipse-temurin:21-jre
            platforms: linux/amd64,linux/arm64
            tagPrefix: java21-
    steps:
      - uses: actions/checkout@v6.0.2

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.7.0

      - name: Build
        id: docker_build
        uses: docker/build-push-action@v6.19.2
        with:
          platforms: ${{ matrix.platforms }}
          # ensure latest base image is used
          pull: true
          build-args: |
            BASE_IMAGE=${{ matrix.baseImage }}
          cache-from: type=gha,scope=${{ matrix.variant }}
          cache-to: type=gha,mode=max,scope=${{ matrix.variant }}
